{% extends 'home.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

      <div class="col-lg-12">
        <!-- Card group -->
  <div style="margin-top:150px;"class="card-group">

    <!-- Card -->
    <div style="margin:15px;" class="card mb-4">

      <!-- Card image -->
      <div class="view overlay" style="height:295px; background-color: #b3de1d;height: 200px;position: relative;">
        <div style="margin: 0;position: absolute;left:25%;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)">
          <h1 style="font-family:Freckle Face;font-size: 40px;color: #3b5998;text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;" class="">Schemator</h1>

        </div>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <!-- Text -->
        <p class="card-text">Transformer vos schema pour en cacher certaines partie. A vous de vous rappeler le contenu des trous !</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons
        <button type="button" class="btn btn-primary btn-md">Read more</button> -->
      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div style="margin:15px;" class="card mb-4">

      <!-- Card image -->
      <div class="view overlay" style="height:295px; background-color: #b3de1d;height: 200px;position: relative;">
        <div style="margin: 0;position: absolute;left:25%;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)">
          <h1 style="font-family:Freckle Face;font-size: 40px;color: #3b5998;text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;" class="">Vocardulary</h1>

        </div>
        <a href="{{ path('game_vocardulary') }}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <!-- Text -->
        <p class="card-text">Le jeux de "memory card" pour apprendre du vocabulaire visuel !</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons
        <button type="button" class="btn btn-primary btn-md">Read more</button> -->
      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div style="margin:15px;" class="card mb-4">

      <!-- Card image -->
      <div class="view overlay" style="height:295px; background-color: #b3de1d;height: 200px;position: relative;">
        <div style="margin: 0;position: absolute;left:25%;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)">
          <h1 style="font-family:Freckle Face;font-size: 40px;color: #3b5998;text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;" class="">Stableword</h1>

        </div>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <!-- Text -->
        <p class="card-text">Le jeux de mot croise le plus addictif ! </p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons
        <button type="button" class="btn btn-primary btn-md">Read more</button> -->

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div style="margin:15px;" class="card mb-4">

      <!-- Card image -->
      <div class="view overlay" style="height:295px; background-color: #b3de1d;height: 200px;position: relative;">
        <div style="margin: 0;position: absolute;left:25%;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)">
          <span style="font-family:Freckle Face;font-size: 40px;color: #3b5998;text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;">Certify</span>

        </div>
        <a href="{{ path('games') }}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <!-- Text -->
        <p class="card-text">Apprenez a vitesse grand V.Fait pour preparer vos certification prefere!</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons
        <button type="button" class="btn btn-primary btn-md">Read more</button> -->
      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

      <!-- Card -->
    <div style="margin:15px;" class="card mb-4">

      <!-- Card image -->
      <div class="view overlay" style="height:295px; background-color: #b3de1d;height: 200px;position: relative;">
        <div style="margin: 0;position: absolute;left:25%;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)">
          <span style="font-family:Freckle Face;font-size: 40px;color: #3b5998;text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;">Steps</span>

        </div>
        <a href="{{ path('steps') }}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <!-- Text -->
        <p class="card-text">Your knowledgebase rebuilt</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons
        <button type="button" class="btn btn-primary btn-md">Read more</button> -->
      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->
  </div>
  <!-- Card group -->
      </div>


{% endblock %}
